@model VAW_WebApplication.Models.Tran_2b_orgactivities_otheractivities_ViewModel

@{
    ViewBag.Title = "EditActivitiesOtherActivities";
    Layout = "~/Views/Shared/_Layout_Users.cshtml";
}

<h2>Edit Activities Other Activities</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tran_2b_orgactivities_otheractivities_ViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VAW_Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VAW_Year, "VAW Year", new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.VAW_Year, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UniqueTransactionId)
                @Html.HiddenFor(model => model.CvoOrgCode)
                @Html.HiddenFor(model => model.CvoId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DateOfActivity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfActivity, new { htmlAttributes = new { @class = "form-control", @placeholder = "DD-MM-YYYY", @readonly = true } })
                @Html.ValidationMessageFor(model => model.DateOfActivity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistributionOfPamphletsAndBanners_Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DistributionOfPamphletsAndBanners_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter details" } })*@
                @Html.TextAreaFor(model => model.DistributionOfPamphletsAndBanners_Details, new { @class = "textarea-custom-h-50", @placeholder = "Please enter details" })
                @Html.ValidationMessageFor(model => model.DistributionOfPamphletsAndBanners_Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConductOfWorkshopAndSensitizationProgram_Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ConductOfWorkshopAndSensitizationProgram_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter details" } })*@
                @Html.TextAreaFor(model => model.ConductOfWorkshopAndSensitizationProgram_Details, new { @class = "textarea-custom-h-50", @placeholder = "Please enter details" })
                @Html.ValidationMessageFor(model => model.ConductOfWorkshopAndSensitizationProgram_Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IssueOfJornalAndNwesletter_Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IssueOfJornalAndNwesletter_Details, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter details" } })*@
                @Html.TextAreaFor(model => model.IssueOfJornalAndNwesletter_Details, new { @class = "textarea-custom-h-50", @placeholder = "Please enter details" })
                @Html.ValidationMessageFor(model => model.IssueOfJornalAndNwesletter_Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnyOtherActivities_Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.AnyOtherActivities_Details, new { htmlAttributes = new { @class = "form-control textarea-custom", @placeholder = "Please enter details" } })*@
                @Html.TextAreaFor(model => model.AnyOtherActivities_Details, new { @class = "textarea-custom-h-50", @placeholder = "Please enter details" })
                @Html.ValidationMessageFor(model => model.AnyOtherActivities_Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
