@model VAW_WebApplication.Models.ViewVigilanceAwarenessViewModel
@{
    ViewBag.Title = "VigilanceAwareness";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int CapacityBuilidingIndex = 0;
    int IdentIndex = 0;
    int CircularsIndex = 0;
    int DisposalComIndex = 0;
    int DynamicDigitalIndex = 0;
}

<h2>Admin : Vigilance Awareness </h2>

<hr />
<div class="m-4" style="display:flex;text-align:center;">
    <div style="display: flex;">
        <label style="align-content: center; margin-right:10px" for="CurrentYear">Year&nbsp;: </label>
        @Html.DropDownListFor(model => model.CurrentYear, Model.YearsList, "Select Year", new { @class = "form-control" })

        <label style="align-content: center; margin-right:10px; margin-left:10px;" for="CurrentOrgCode">Organisation&nbsp;: </label>
        @Html.DropDownListFor(model => model.CurrentOrgCode, Model.OrgList, "Select Organisation", new { @class = "form-control" })
    </div>
    <div style="margin-left:50px; display:flex; align-content:center">
        <button onclick="handleSearch()" class="btn btn-primary text-center" style="align-self:center" name="SearchByYear">SEARCH</button>
    </div>
</div>
<br />
<div class="mainBox" id="CapacityBuildingContainer">
    <div style="display:flex; justify-content:space-between">
        <h3>1. CAPACITY BUILDING</h3>

    </div>
    <hr />
    <div>
        @*table content*@
        <table id="capacityBuildingTable" class="display">
            <thead>
                <tr>
                    <th style="text-align:center" class="th1">S No.</th>
                    <th style="text-align:center" width="12%">VAW Year</th>
                    <th style="text-align:center">Organisation</th>
                    <th style="text-align:center">Period</th>
                    <th style="text-align:center">Training Name</th>
                    <th style="text-align:center">Employees Trained</th>
                    <th style="text-align:center">Brief Description</th>
                    <th style="text-align:center">CVO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CapacityBuiliding_VM)
                {
                    <tr>
                        <td style="text-align:center" class="td1">@(++CapacityBuilidingIndex)</td>
                        <td style="text-align:center">@item.VAW_Year</td>
                        <td style="text-align:center">@item.OrganisationName</td>
                        <td style="text-align:center">@item.FromDate.ToString("dd-MM-yyyy") To @item.ToDate.ToString("dd-MM-yyyy")</td>
                        <td style="text-align:center">@item.TrainingName</td>
                        <td style="text-align:center">@item.EmployeesTrained</td>
                        <td style="text-align:center">
                            @if (@item.BriefDescription.Length > 125)
                            {
                                <button onclick="handlePopup('@item.BriefDescription')">View</button>
                            }
                            else
                            {
                                @item.BriefDescription
                            }
                        </td>
                        <td style="text-align:center">@item.CvoId</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
<hr />
<br />
<div class="mainBox" id="IdentificationContainer">

    <div style="display:flex; justify-content:space-between">
        <h3>2. IDENTIFICATION AND IMPLEMENTATION OF SYSTEMIC IMPROVEMENT MEASURES</h3>

    </div>
    <hr />
    <div>
        @*table content*@
        <table id="IdentificationTable" class="display">
            <thead>
                <tr>
                    <th class="th1" style="text-align:center">S No.</th>
                    <th style="text-align:center">VAW Year</th>
                    <th style="text-align:center" width="12%">Organisation</th>
                    <th style="text-align:center">Period</th>
                    <th style="text-align:center">Systemic Improvements Implemented During the Campaign Period</th>
                    <th style="text-align:center">System Improvements Suggested last 5 years</th>
                    <th style="text-align:center">No. of Cases of the Past 5 Years Taken For Analysis</th>
                    <th style="text-align:center">Key Areas Vulnerable To Corruption Detected Based On Analysis</th>
                    <th style="text-align:center">Systemic Improvements identified and implemented / under implementation (brief details may be given)</th>
                    <th style="text-align:center">CVO</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Sys_Improvement_VM)
                {
                    <tr>
                        <td style="text-align:center" class="td1">@(++IdentIndex)</td>
                        <td style="text-align:center">@item.VAW_Year</td>
                        <td style="text-align:center">@item.OrganisationName</td>
                        <td style="text-align:center">@item.FromDate.ToString("dd-MM-yyyy") To @item.ToDate.ToString("dd-MM-yyyy")</td>
                        <td style="text-align:center">
                            @if (@item.Sys_Imp_Implemented_During_Campaign.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Sys_Imp_Implemented_During_Campaign')">View</button>
                            }
                            else
                            {
                                @item.Sys_Imp_Implemented_During_Campaign
                            }
                        </td>
                        <td style="text-align:center">
                            @if (@item.Sys_Imp_Suggested_Last_5_Years_But_Pending.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Sys_Imp_Suggested_Last_5_Years_But_Pending')">View</button>
                            }
                            else
                            {
                                @item.Sys_Imp_Suggested_Last_5_Years_But_Pending
                            }
                        </td>
                        <td style="text-align:center">@item.NoOf_CasesTakenForAnalysis_past5Years</td>
                        <td style="text-align:center">
                            @if ((@item.KeyAreasDetected_BasedonAnalysis.Length) > 125)
                            {
                                <button onclick="handlePopup('@item.KeyAreasDetected_BasedonAnalysis')">View</button>
                            }
                            else
                            {
                                @item.KeyAreasDetected_BasedonAnalysis
                            }
                        </td>
                        <td style="text-align:center">
                            @if (@item.Sys_Improvements_Identified_And_Impl_BasedOnAnalysis.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Sys_Improvements_Identified_And_Impl_BasedOnAnalysis')">View</button>
                            }
                            else
                            {
                                @item.Sys_Improvements_Identified_And_Impl_BasedOnAnalysis
                            }
                        </td>
                        <td style="text-align:center">@item.CvoId</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<hr />
<br />
<div class="mainBox" id="UpdationContainer">
    <div style="display:flex; justify-content:space-between">
        <h3>3. UPDATION OF CIRCULARS</h3>
    </div>
    <hr />
    <div>
        <table id="UpdationTable" class="display">
            <thead>
                <tr>
                    <th class="th1" style="text-align:center">S No.</th>
                    <th style="text-align:center">VAW Year</th>
                    <th style="text-align:center" width="12%">Organisation</th>
                    <th style="text-align:center">Period</th>
                    <th style="text-align:center">Whether guidelines/circulars and manuals updated during capaign period</th>
                    <th style="text-align:center">Brief Details</th>
                    <th style="text-align:center">CVO</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.UpdationCirculars_VM)
                {
                    <tr>
                        <td style="text-align:center" class="td1">@(++CircularsIndex)</td>
                        <td style="text-align:center">@item.VAW_Year</td>
                        <td style="text-align:center">@item.OrganisationName</td>
                        <td style="text-align:center">@item.FromDate.ToString("dd-MM-yyyy") To @item.ToDate.ToString("dd-MM-yyyy")</td>
                        <td style="text-align:center">@item.WhetherUpdatedDuingCampaign</td>
                        <td style="text-align:center">
                            @if (@item.BriefDetails.Length > 125)
                            {
                                <button onclick="handlePopup('@item.BriefDetails')">View</button>
                            }
                            else
                            {
                                @item.BriefDetails
                            }
                        </td>
                        <td style="text-align:center">@item.CvoId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<hr />
<br />
<div class="mainBox" id="DisposalContainer">
    <div style="display:flex; justify-content:space-between">
        <h3>4. DISPOSAL OF COMPLAINTS</h3>
    </div>
    <hr />
    <div>
        <table id="DisposalTable" class="display">
            <thead>
                <tr>
                    <th class="th1" colspan="1" rowspan="2" style="text-align:center">S No.</th>
                    <th colspan="1" rowspan="2" style="text-align:center">VAW Year</th>
                    <th colspan="1" rowspan="2" style="text-align:center" width="12%">Organisation</th>
                    <th colspan="2" style="text-align:center">Complaints received before 30.06.24 pending as on 16.08.2024</th>
                    <th colspan="2" style="text-align:center">Complaints received before 30.06.24 disposed during campaing</th>
                    <th colspan="2" style="text-align:center">Complaints received before 30.06.24 pending as on 15.11.2024</th>
                    <th colspan="1" rowspan="2" style="text-align:center">CVO</th>
                </tr>
                <tr>
                    <th style="text-align:center">No of complaints</th>
                    <th style="text-align:center">Remarks</th>
                    <th style="text-align:center">No of complaints</th>
                    <th style="text-align:center">Remarks</th>
                    <th style="text-align:center">No of complaints</th>
                    <th style="text-align:center">Remarks</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.DisposalComplaints_VM)
                {
                    <tr>
                        <td style="text-align:center" class="td1">@(++DisposalComIndex)</td>
                        <td style="text-align:center">@item.VAW_Year</td>
                        <td style="text-align:center">@item.OrganisationName</td>
                        <td style="text-align:center">@item.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608</td>
                        <td style="text-align:center">
                            @if (@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608')">View</button>
                            }
                            else
                            {
                                @item.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608
                            }
                        </td>
                        <td style="text-align:center">@item.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign</td>
                        <td style="text-align:center">
                            @if (@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign')">View</button>
                            }
                            else
                            {
                                @item.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign
                            }
                        </td>
                        <td style="text-align:center">@item.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511</td>
                        <td style="text-align:center">
                            @if (@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511.Length > 125)
                            {
                                <button onclick="handlePopup('@item.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511')">View</button>
                            }
                            else
                            {
                                @item.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511
                            }
                        </td>
                        <td style="text-align:center">@item.CvoId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<hr />
<br />
<div class="mainBox" id="DynamicContainer">
    <div style="display:flex; justify-content:space-between">
        <h3>5. DIGITAL DYNAMIC PRESENCE</h3>
    </div>
    <hr />
    @**@
    <div>
        <table id="DynamicTable" class="display">
            <thead>
                <tr>
                    <th rowspan="2" class="th1" colspan="1" style="text-align:center">S No.</th>
                    <th rowspan="2" style="text-align:center">VAW Year</th>
                    <th rowspan="2" style="text-align:center" width="12%">Organisation</th>
                    <th rowspan="2" style="text-align:center">Regular maintenance and updation of website - whether being done or not ?</th>
                    <th rowspan="2" style="text-align:center">System introduced for up-dation and review of website</th>
                    <th colspan="2" style="text-align:center">Whether additional areas/activities/services brought online</th>
                    <th rowspan="2" style="text-align:center">CVO</th>
                </tr>
                <tr>
                    <th style="text-align:center">Yes/No</th>
                    <th style="text-align:center">Details (if yes)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.DynamicDigitalPresence_VM)
                {
                    <tr>
                        <td style="text-align:center" class="td1">@(++DynamicDigitalIndex)</td>
                        <td style="text-align:center">@item.VAW_Year</td>
                        <td style="text-align:center">@item.OrganisationName</td>
                        <td style="text-align:center">@item.WhetherRegularMaintenanceOfWebsiteUpdationDone</td>
                        <td style="text-align:center">
                            @if (@item.SystemIntroducedForUpdationAndReview.Length > 125)
                            {
                                <button onclick="handlePopup('@item.SystemIntroducedForUpdationAndReview')">View</button>
                            }
                            else
                            {
                                @item.SystemIntroducedForUpdationAndReview
                            }
                        </td>
                        <td style="text-align:center">@item.WhetherAdditionalAreas_Activities_ServicesBroughtOnline</td>
                        <td style="text-align:center">
                            @if (@item.DetailsOfAdditionalActivities.Length > 125)
                            {
                                <button onclick="handlePopup('@item.DetailsOfAdditionalActivities')">View</button>
                            }
                            else
                            {
                                @item.DetailsOfAdditionalActivities
                            }
                        </td>
                        <td style="text-align:center">@item.CvoId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#capacityBuildingTable,#IdentificationTable,#UpdationTable,#DisposalTable,#DynamicTable').DataTable();
    });
</script>

<script>
    function handleSearch() {
        var selectedYear = document.getElementById("CurrentYear").value;
        var selectedOrg = document.getElementById("CurrentOrgCode").value;

        // Construct the URL using JavaScript
        var url = '@Url.Action("ViewVigilanceAwareness", "Admin")' + '?selectedYear=' + encodeURIComponent(selectedYear) + '&orgCode=' + encodeURIComponent(selectedOrg);

        // Redirect to the action with the selected year and org code
        window.location.href = url;

    }
</script>
