@model VAW_WebApplication.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<style>
    .swal-wide {
        width: 850px !important;
    }
</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h4 style="color:red;">
                    @ViewBag.ErrorMsg
                </h4>

            </center>
        </div>

    </div>
    <div class="row" style="margin-top:25px;">        
        <div class="col-md-offset-4 col-md-4 table-bordered">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 style="text-align:center">Login</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-6">
                            <input type="submit" value="Login" class="btn btn-success form-control" />
                        </div>
                    </div>
                </div>

                if (ViewBag.Message != null)
                {
                    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
                    <script src="~/Scripts/toastr/toastr.min.js"></script>
                    <script type="text/javascript">
            $(document).ready(function () {

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "positionClass": "toast-top-full-width",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "show",
                    "width":"5000",
                    "hideMethod": "hide"
                };
                toastr.error("@ViewBag.Message");


            });
                    </script>

                }
            }
        </div>
    </div>

</div>
<div>
    @section Scripts {

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>

    }

</div>


