@model VAW_WebApplication.Models.Tran_a_4b_disposalofcomplaints_ViewModel

@{
    ViewBag.Title = "CreateDisposalOfComplaints";
    Layout = "~/Views/Shared/_Layout_Users.cshtml";
}

<h2>CreateDisposalOfComplaints</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tran_a_4b_disposalofcomplaints_ViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VAW_Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VAW_Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VAW_Year, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UniqueTransactionId)
                @Html.HiddenFor(model => model.CvoOrgCode)
                @Html.HiddenFor(model => model.CvoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
