@model VAW_WebApplication.Models.Tran_a_4b_disposalofcomplaints_ViewModel

@{
    ViewBag.Title = "CreateDisposalOfComplaints";
    Layout = "~/Views/Shared/_Layout_Users.cshtml";
}

<h2>Disposal Of Complaints Received Before 30.06.24</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VAW_Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VAW_Year, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.VAW_Year, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UniqueTransactionId)
                @Html.HiddenFor(model => model.CvoOrgCode)
                @Html.HiddenFor(model => model.CvoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, new { @class = "textarea-custom", @id = "myTextArea" })
                <div id="wordCount" style="margin-top: 10px; margin-left:150px;">Word count: 0 / 500</div>
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_Pending_AsOn_1608, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, new { @class = "textarea-custom", @id = "myTextArea1" })
                <div id="wordCount1" style="margin-top: 10px; margin-left:150px;">Word count: 0 / 500</div>
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_DisposedDuringCampaign, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOf_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, new { @class = "textarea-custom", @id = "myTextArea2" })
                <div id="wordCount2" style="margin-top: 10px; margin-left:150px;">Word count: 0 / 500</div>
                @Html.ValidationMessageFor(model => model.Remarks_ComplaintsRecvd_OnOrBefore_3006_PendingAsOn_1511, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
}


<div>
    @section Scripts {

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const textArea = document.getElementById('myTextArea');
                const wordCountDisplay = document.getElementById('wordCount');
                const maxWords = 500;

                textArea.addEventListener('input', function () {
                    const words = textArea.value.trim().split(/\s+/).filter(Boolean);
                    const wordCount = words.length;

                    if (wordCount > maxWords) {
                        textArea.value = words.slice(0, maxWords).join(' ');
                    }

                    wordCountDisplay.textContent = `Word count: ${Math.min(wordCount, maxWords)} / ${maxWords}`;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const textArea = document.getElementById('myTextArea1');
                const wordCountDisplay = document.getElementById('wordCount1');
                const maxWords = 500;

                textArea.addEventListener('input', function () {
                    const words = textArea.value.trim().split(/\s+/).filter(Boolean);
                    const wordCount = words.length;

                    if (wordCount > maxWords) {
                        textArea.value = words.slice(0, maxWords).join(' ');
                    }

                    wordCountDisplay.textContent = `Word count: ${Math.min(wordCount, maxWords)} / ${maxWords}`;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const textArea = document.getElementById('myTextArea2');
                const wordCountDisplay = document.getElementById('wordCount2');
                const maxWords = 500;

                textArea.addEventListener('input', function () {
                    const words = textArea.value.trim().split(/\s+/).filter(Boolean);
                    const wordCount = words.length;

                    if (wordCount > maxWords) {
                        textArea.value = words.slice(0, maxWords).join(' ');
                    }

                    wordCountDisplay.textContent = `Word count: ${Math.min(wordCount, maxWords)} / ${maxWords}`;
                });
            });
        </script>

    }
    @*@Html.ActionLink("Back", "Index")*@
</div>
