@{ 
    string curr_year = DateTime.Now.Year.ToString();
}

<!DOCTYPE html>
<html>
<!--<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/cvc-logo.png" type="image/icon type">
    <title>@ViewBag.Title - VAW</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>-->
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
<!--<script src="~/Scripts/SbteJS.js"></script>-->
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <script src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>*@
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>-->


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/cvc-logo.png" type="image/icon type">
    <title>@ViewBag.Title - VAW</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script src="~/Scripts/SbteJS.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <style>
        /* Custom styles for the sidebar */
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #f5f5f5;
            padding: 20px;
            border-right: 1px solid #ddd;
            overflow-y: auto; /* Scroll if content is too long */
            display: flex;
            flex-direction: column;
        }

            .sidebar .nav-links {
                margin-top: 25vh;
                /*margin-bottom:auto;*/
                flex: 1; /* Take up remaining space */
            }

            .sidebar a {
                text-decoration: none;
                color: #333;
                display: block;
                padding: 10px;
                border-radius: 4px;
            }

                .sidebar a.active,
                .sidebar a:hover {
                    background-color: #ddd;
                }

        .content {
            margin-left: 270px; /* Adjust to match the sidebar width */
            padding: 20px;
        }

        .logout-button {
            margin-top: auto; /* Push the button to the bottom of the sidebar */
            /*text-align: center;*/
        }

        .shadow {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>


    <div class="row" style="top:0;left:0;height:auto;background-color:ButtonFace; padding:5px; margin-left:250px;margin-right:5px;border-radius:0px;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-top:20px;text-align:center;">
            <h2 style="font-family:'Times New Roman';">Vigilance Awareness Week - @curr_year</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top:20px;text-align:center;">
        </div>
    </div>

    <div class="body-content">

        <div class="sidebar">
            @*<h4>Sidebar</h4>*@
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img src="~/Images/cvc-logo.png" />
            </div>
            <div class="nav-links">
                <a href="@Url.Action("Index", "ViewVigilanceAwareness")" class="nav-link shadow" data-target="option1">Preventive Vigilance Activities</a>
                <br />
                <a href="@Url.Action("Index", "ViewIntegrityPledge")" class="nav-link shadow" data-target="option2">Activity Report Format</a>
                <!-- Add more options as needed -->
            </div>
            <div class="logout-button">
                @*<button class="btn btn-danger">Logout</button>*@
                <a href="#option2" class="nav-link shadow" data-target="option2">Logout</a>
            </div>
        </div>

        <div class="content" style="margin-left: 250px !important">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

   
    @RenderSection("scripts", required: false)
</body>
</html>
